{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block 'title' %}Crear{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/empleados/form_empleados.css' %}">
{% endblock %}


{% block 'content' %}
    <div id="main-container">
        <h1>Crear empleado</h1>
        <form action="{% url 'empleado_create' %}" method="POST">
            {% csrf_token %}
            <p><label>{{form.nombre.label}}</label> {{form.nombre}} </p>
            <p><label>{{form.apellido.label}}</label> {{form.apellido}} </p>
            <p><label>{{form.username.label}}</label> {{form.username}} </p>
            <p><label>{{form.c_id.label}}</label> {{form.c_id}} </p>
            <p><label>{{form.email.label}}</label> {{form.email}} </p>
            <p><label>{{form.direccion.label}}</label> {{form.direccion}} </p>
            <p><label>{{form.telefono.label}}</label> {{form.telefono}} </p>
            <p><label>{{form.groups.label}}</label> {{form.groups}} </p>
            <p><label>{{form.cargo.label}}</label> {{form.cargo}} </p>
            <p><label>{{form.fecha_create.label}}</label> {{form.fecha_create}} </p>
            <p><label>{{form.password.label}}</label> {{form.password | attr:'type:password'}} </p>
            <p><label>{{form.password2.label}}</label> {{form.password2}} </p>
            <p>{{form.errors}}</p>
            <div id="button-container">
                <input class="btn-submit" id="añadir-empleado" type="submit" value="Añadir">
            </div>
        </form> 
    </div>       
{% endblock 'content' %}


{% block script %}
    <script>
        $('#añadir-cliente').click(function(){
            mensajeSuccess('Cliente creado con exito')
        })
    </script>
{% endblock script %}
    