{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %}Actualizar{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/equipo/form_equipo.css' %}">
{% endblock %}

{% block 'content' %}
    <div id="main-container">
        <h1>Actualizar Equipo</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="button-container">
                <input class="btn-submit" id="actualizar-equipo" type="submit" value="Guardar">
            </div>
        </form>        
    </div>  
{% endblock 'content' %}

{% block script %}
    <script>
        $('#actualizar-equipo').click(function(){
            Swal.fire({
                title: 'Equipo',
                text: 'Equipo actualizado con exito',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            })
        })
    </script>
{% endblock script %}