{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %}Crear{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/equipo/form_equipo.css' %}">
{% endblock %}

{% block 'content' %}
    <div id="main-container">
        <h1>Crear Equipo</h1>
        <form action="{% url 'equipo_create' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="button-container">
                <input class="btn-submit" id="añadir-equipo" type="submit" value="Añadir">
            </div>
        </form>      
    </div>  
{% endblock 'content' %}

{% block script %}
    <script>
        $('#añadir-equipo').click(function(){
            Swal.fire({
                title: 'Equipo',
                text: 'Equipo creado con exito',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            })
        })
    </script>
{% endblock script %}