{% extends 'layout/base.html' %}
{% load static %}
{% block 'title' %}Crear{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/equipo/equipos.css' %}">
{% endblock %}

{% block 'content' %}
    
    <div id="main-container">
        <h1>Equipos</h1>
        <form class="search" action="{% url 'equipo' %}" method="GET">
            <input class="search-bar" type="text" name="search" placeholder="Buscar equipos...">
            <input type="submit" value="Buscar" class="btn-submit" >
        </form>
        
        <span class="aux-btns"><a href="{% url 'equipo' %}">Ver todos</a> <a href="{% url 'equipo_create' %}">Añadir</a></span>
        <div><title></title></div>
        <table>
            <tr id="table-title">
                <th>Nombre</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cliente</th>
                <th></th>
            </tr>
            {% for equipo in equipos %}
            <tr class="table-inf">
                <td class="inf-nombre">{{ equipo.nombre }}</td>
                <td class="inf-marca">{{ equipo.marca }}</td>
                <td class="inf-modelo">{{ equipo.modelo }}</td>
                <td class="inf-modelo">{{ equipo.cliente }}</td>
                <td class="botones">
                    <span>
                        {% for g in user.groups.all %}
                            {% if g.name == 'administrador' %}
                                <a href="{% url 'equipo_update' pk=equipo.id %}" class="btn btn-edit">Editar</a>
                                <button class="btn btn-danger" type="button" onclick="abrir_modal_eliminacion('../equipos/delete/{{equipo.id}}')">Eliminar</button>
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'equipo_historial' pk=equipo.id%}"><button class="btn btn-primary" type="button"><i class="bi bi-clock-history"></i></button></a> 
                    </span>
                </td>
                    
                
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalCategoria" aria-hidden="true" role="dialog">
    </div>
{% endblock 'content' %}

{% block script %}
    <script>
        var $ = jQuery.noConflict();
        function eliminar_equipo(pk){
            $.ajax({
                data:{
                    csrfmiddlewaretoken: $("[name = 'csrfmiddlewaretoken']").val()
                },
                url: '../equipos/delete/'+pk,
                type: 'post',
            }).done(function(data){
                cerrar_modal_eliminacion()
                mensajeSuccess('El servicio ha sido eliminado con exito')
            }).fail(function(error){

            })
        }
    </script>    
{% endblock script %}
    