{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block 'title' %}Crear{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/orden/orden_act.css' %}">
{% endblock %}

{% block 'content' %}

    <div id="main-container">
        <input id="id_orden" style="display: none;" type="number" value="{{id}}">
        <h1>Actualizar Orden {{id}}</h1>
        <div id="search-cliente">
            <h3>Cliente</h3>
            <div id="datos-cliente">
                <span>
                    <Label id="l-nombre">Nombres: </Label>
                    <input id="cli-nombre" type="text" value="{{cliente.nombres}}" disabled>
                </span>
                <span>
                    <Label id="l-fecha">Fecha: </Label>
                    {{form.fecha_create|attr:"disabled"}}
                </span>
                <span>
                    <Label id="l-apellido">Equipo: </Label>
                    <select name="equipo" id="bus_equipo" class="buscador_field">
                        <option value="0">Seleccione un equipo</option>
                    </select>
                </span>
                <span>
                    <Label id="l-direccion">Marca: </Label>
                    <input id="marca" type="text" value="{{equipo.marca}}" disabled>
                </span>
                <span>
                    <Label id="l-telefono">Modelo: </Label>
                    <input id="modelo" type="text" value="{{equipo.modelo}}" disabled>
                </span>
                <span>
                    <Label id="l-telefono">Serie: </Label>
                    <input id="serie" type="text" value="{{equipo.serie}}" disabled>
                </span>
                <span>
                    <Label id="l-telefono">Horómetro: </Label>
                    {{form.horometro}}
                </span>
            </div>
            <div class="containerDatosExtras">
                <span>
                    <Label id="l-apellido">Tipo de trabajo: </Label>
                    {{form.tipo}}
                </span>
                <span>
                    <Label id="l-apellido">Lugar de trabajo: </Label>
                    {{form.lugar}}
                </span>
                <span>
                    <Label id="l-apellido">Estado del equipo: </Label>
                    {{form.estado}}
                </span>
            </div>
        </div>
        
        <div id="detalles">
            <div id="valores-detalles">
                <div class="causas-container">
                    <h3>Añadir causas</h3>
                    <div class="buscador">
                        <select name="causa" id="bus_causas" class="buscador_field">
                            <option value="0">Seleccione una causa</option>
                            {% for causa in causas2 %}
                                <option value="{{causa.id}}">
                                    {{causa.nombre}}
                                </option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div id="errores-causas" class="error"></div>
                    <table id="detalle-causas">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for causa in causas %}
                                <tr class="fila-causas">
                                    <input class="id_causas" id="id_caus_{{causa.causa.id}}" style="display: none;" type="number" value="{{causa.causa.id}}">
                                    <td><input id="nombre_caus_{{causa.causa.id}}" type="text" value="{{causa.causa.nombre}}" disabled></td>
                                    <td><button class="btn-sm btn-danger" id="button_caus_{{causa.causa.id}}" type="button"><i class="bi bi-trash-fill"></button></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="servicio-container">
                    <h3>Añadir servicio</h3>
                    <div class="buscador">
                        <select name="servicio" id="bus_servicios" class="buscador_field">
                            <option value="0">Seleccione un servicio</option>
                            {% for serv in servicios2 %}
                                <option value="{{serv.id}}">
                                    {{serv.nombre}} ({{serv.categoria}} )
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="errores-servicio" class="error"></div>
                    <table id="detalle-servicio">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>P. Unitario</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                                
                        </thead>
                        <tbody>
                            {% for servicio in servicios %}
                                <tr class="fila-servicio">
                                    <input class="id_serv" id="id_serv_{{servicio.servicio.id}}" style="display: none;" type="number" value="{{servicio.servicio.id}}">
                                    <td><input id="nombre_serv_{{servicio.servicio.id}}" type="text" value="{{servicio.servicio.nombre}}" disabled></td>
                                    <td><input id="categoria_serv_{{servicio.servicio.id}}" type="text" value="{{servicio.servicio.categoria}}" disabled></td>
                                    <td><input class="input-cant" id="precio_serv_{{servicio.servicio.id}}" type="text" value="{{servicio.precio}}" disabled></td>
                                    <td><input class="input-cant" id="cantidad_serv_{{servicio.servicio.id}}" type="text" value="{{servicio.cantidad}}"></td>
                                    <td><input class="input-cant" id="subtotal_serv_{{servicio.servicio.id}}" type="text" value="{{servicio.subtotal}}" disabled></td>
                                    <td><button class="btn-sm btn-danger" id="button_serv_{{servicio.servicio.id}}" type="button"><i class="bi bi-trash-fill"></button></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="producto-container">
                    <div></div>
                    <h3>Añadir producto</h3>
                    <div class="buscador">
                        <select name="producto" id="bus_productos" class="buscador_field">
                            <option value="0">Seleccione un producto</option>
                            {% for producto in productos2 %}
                                <option value="{{producto.id}}">{{producto.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="errores-producto" class="error"></div>
                    <table id="detalle-producto">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>P. Unitario</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                                <tr class="fila-producto">
                                    <input style="display: none;" class="id_prod" id="id_prod_{{producto.producto.id}}" type="text" value="{{producto.producto.id}}">
                                    <input style="display: none;" class="cantMax" id="cantMax_prod_{{producto.producto.id}}" type="text" value="{{producto.cantidadMax}}">
                                    <td><input id="nombre_prod_{{producto.producto.id}}" type="text" value="{{producto.producto.nombre}}" disabled> </td>
                                    <td><input class="input-cant"  id="precio_prod_{{producto.producto.id}}" type="text" value="{{producto.precio}}" disabled></td>
                                    <td><input class="input-cant" id="cantidad_prod_{{producto.producto.id}}" type="text" value="{{producto.cantidad}}"></td>
                                    <td><input class="input-cant"  id="subtotal_prod_{{producto.producto.id}}" type="text" value="{{producto.subtotal}}" disabled></td>
                                    <td><button class="btn-sm btn-danger" id="button_prod_{{producto.producto.id}}" type="button"><i class="bi bi-trash-fill"></button></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
            <section id="containerExtra">
                <div id="comentarios_recomendaciones">
                    <label for="observacion">Observaciones</label>
                    {{form.observacion}}
                    <label for="recomendacion">Recomendaciones</label>
                    {{form.recomendacion}}
                </div>
                <div id="orden-valores">
                    <form method="POST">
                        <span>
                            <label > Subtotal </label>
                            {{form.subtotal|append_attr:"disabled" }}
                        </span>
                        <span>
                            <label>Iva</label>
                            {{form.iva|append_attr:"disabled"}}
                        </span>
                        <span>
                            <label>Total</label>
                            {{form.total|append_attr:"disabled"}}
                        </span>
                    </form>
                    <input id="guardar" type="submit" value="Guardar" class="btn-submit" >
                </div>
            </section>
            <section id="responsables">
                <span>
                    <label for="tecnico">Tecnico responsable</label>
                    <input type="text" value="{{tecnico.nombre}} {{tecnico.apellido}}">
                </span>
                <span>
                    <label for="">Recibe</label>
                    {{form.recibe}}
                </span>
                {{form.erros}}
            </section>
        </div>
    </div>
{% endblock 'content' %}

{% block script %}
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/orden.js' %}"></script>
    <script>
        $('#bus_productos').select2()
        $('#bus_servicios').select2()
        $('#bus_causas').select2()
        var ruta = window.location.href;
        const detalles_factura = {
            'total_productos' : 0.0,
            'total_servicios' : 0.0,
            'subtotal' : parseFloat($("#id_subtotal").val()),
            'iva' : parseFloat($("#id_iva").val()),
            'total' : parseFloat($("#id_total").val()),
        }
        var id_prod = document.getElementsByClassName("id_prod")
        var id_serv = document.getElementsByClassName("id_serv")
        var id_causas = document.getElementsByClassName("id_causas")
        var cant_servicio = 0
        var cant_productos = 0
        var cant_causas = 0
        var servicios = {}
        var productos = {}
        var causas = {}
        const csrftoken = getCookie('csrftoken');
        $(document).ready(function (){
            $('#detalle-producto').DataTable();
            $('#detalle-servicio').DataTable();
            $('#detalle-causas').DataTable();
            for (let index = 0; index < id_prod.length; index++) {
                id = id_prod.item(index)['value']
                productos[index] = {
                    cantidad: parseInt($(`#cantidad_prod_${id}`).val()), 
                    cantidadMax: parseInt($(`#cantMax_prod_${id}`).val()), 
                    error: "",
                    nombre: $(`#nombre_prod_${id}`).val(),
                    precio: parseFloat($(`#precio_prod_${id}`).val()),
                    producto: parseInt(id),
                    subtotal: parseFloat($(`#subtotal_prod_${id}`).val())
                } 
                detalles_factura['total_productos'] += productos[index].subtotal 
                boton = document.querySelector(`#button_prod_${id}`)
                boton.setAttribute("onclick",`borrarProducto(${index})`)
            }
            for (let index = 0; index < id_causas.length; index++) {
                id = id_causas.item(index)['value']
                causas[index] = {
                    nombre: $(`#nombre_caus_${id}`).val(),
                } 
                boton = document.querySelector(`#button_caus_${id}`)
                boton.setAttribute("onclick",`borrarCausa(${index})`)
            }
            for (let index = 0; index < id_serv.length; index++) {
                id = id_serv.item(index)['value']
                servicios[index] = {
                    cantidad: parseInt($(`#cantidad_serv_${id}`).val()), 
                    categoria:$(`#categoria_serv_${id}`).val(),
                    error: "",
                    nombre: $(`#nombre_serv_${id}`).val(),
                    precio:  parseFloat($(`#precio_serv_${id}`).val()),
                    servicio: parseInt(id),
                    subtotal: parseFloat($(`#subtotal_serv_${id}`).val())
                } 
                detalles_factura['total_servicios'] += servicios[index].subtotal
                boton = document.querySelector(`#button_serv_${id}`)
                boton.setAttribute("onclick",`borrarServicio(${index})`)
            }
            console.log(productos[0]['nombre']);
            listarProductos()
            listarServicios()
            listarCausas()
            var cliente = {
                'id': $("#id_cliente").val(),
                'nombre': ''
            }
            $('#bus_servicios').on('change', function(){
                $.ajax({
                    url: ruta,
                    type: 'post',
                    headers: {'X-CSRFToken': csrftoken},
                    data: {
                        action: 'search-servicio',
                        nombre: $('#bus_servicios').val()
                    },
                    dataType: 'json',
                }).done(function(data){
                    console.log(data);
                    if(data['error'] != ''){
                        mostrarErrores(data['error'], 'servicio');
                    }
                    else{
                        servicios[cant_servicio] = data;
                        listarServicios()
                        Sumatoria()
                        $('#nombre-servicio').val('')
                    }
                }).fail(function(data){
                }).always(function(data){
                    // alert("complete");
                });
            });
            $('#bus_productos').on('change', function(){
                $.ajax({
                    url: ruta,
                    type: 'post',
                    headers: {'X-CSRFToken': csrftoken},
                    data: {
                        action: 'search-producto',
                        nombre: $('#bus_productos').val()
                    },
                    dataType: 'json',
                }).done(function(data){
                    if(data['error'] != ''){
                        mostrarErrores(data['error'], 'producto');
                    }
                    else{
                        productos[cant_productos] = data;
                        listarProductos()
                        Sumatoria()
                        $('#nombre-producto').val('')
                    }
                }).fail(function(data){
                    mostrarErrores(data, 'producto');
                }).always(function(data){
                    // alert("complete");
                });
            });
            
            $('#bus_causas').on('change', function(){
                $.ajax({
                    url: ruta,
                    type: 'post',
                    headers: {'X-CSRFToken': csrftoken},
                    data: {
                        action: 'search-causa',
                        nombre: $('#bus_causas').val()
                    },
                    dataType: 'json',
                }).done(function(data){
                    if(data['error'] != ''){
                        mostrarErrores(data['error'], 'causa');
                    }
                    else{
                        causas[cant_causas] = data;
                        listarCausas()
                        $('#bus_causas').val('0')
                    }
                }).fail(function(data){
                }).always(function(data){
                    // alert("complete");
                });
            });
            
            $('#guardar').on('click', function(){
                $.ajax({
                    url: ruta,
                    type: 'post',
                    headers: {'X-CSRFToken': csrftoken},
                    data: {
                        id: $("#id_orden").val(),
                        action: 'guardar',
                        detalles: detalles_factura,
                        productos: JSON.stringify(productos),
                        servicios: JSON.stringify(servicios),
                        cliente: cliente,
                        fecha: $('#id_fecha_create').val()
                    },
                    dataType: 'json',
                }).done(function(data){
                    mensajeSuccess('Orden actualizada con exito')
                }).fail(function(data){
                    mostrarErrores(data, 'producto');
                }).always(function(data){
                    // alert("complete");
                });
            });
            
            function mostrarErrores(errores, tipo){
                if(tipo == 'cliente'){
                    console.log(errores);
                    $('#errores-cliente').html("")
                    let error = "";
                    error += '<div><strong>' + errores + '</strong></div>'
                    $('#errores-cliente').append(error)}
                else if(tipo == 'producto'){
                    console.log(errores);
                    $('#errores-producto').html("")
                    let error = "";
                    error += '<div><strong>' + errores + '</strong></div>'
                    $('#errores-producto').append(error)}
                else if(tipo == 'servicio'){
                    console.log(errores);
                    $('#errores-servicio').html("")
                    let error = "";
                    error += '<div><strong>' + errores + '</strong></div>'
                    $('#errores-servicio').append(error)}
                
                
            }
        }); 
    
    </script>
{% endblock %}